<html>
    <body>
            <h1>Predict Food Expenditure based on Income </h1>
            <p>Correlation between Income and Expenditure based on given data set is 0.911, means there is a high correlation. </p>
            <p>At the same time, RSquare value for the linear regression model to predict food expenditure based on income is 0.82 </p>
            <p>With these stats, we can conclude that the higher the income, the higher the food expenditure.</p>
            <form action="/" method="post">
                <p>Please enter income : </p>
                <p><input type = "number" step = "1" name = "Income"></p>
                <p><input type = "submit" value = "Enter" </p>

            </form>
            <p>{{result1}}</p>

    </body>
</html> 